*{
    padding: 0;
    margin: 0;
}
 #landing{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.397),rgba(255,255,255,0.377)),
    url('landing-img.jpg');
    height: 100vh;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
 }